<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write msg here</title>
</head>
<body>
    <h2>Write msg here....</h2>
    <form method="post" action="/chats">
        <input placeholder="Who are you" name="from" />
        <br>
        <br>
        <br>
        <textarea placeholder="Write your msg" name="msg"></textarea>
        <br>
        <br>
    
        <input placeholder="reciver name" name="to" />
        <br>
        <br>
        <br>
        <button>create chat</button>
        <br>

    </form>

    
</body>
</html>